.modal-content {
	background: url('../../../../images/old-paper-stains-repeatable-min.jpg') repeat-y;
}

table {
	border-collapse: separate;
	border-spacing: 20px;
}

div.row.book-container div {
	opacity: 0.7;
}

div.row.book-container div:hover {
	opacity: 1;
}

.book-container {
	margin: 15px;
	padding: 10px;
	outline: 2px solid rgba(154, 73, 12, 0.32);
	cursor: pointer;
}

.message-container {
	margin: +40px;
	padding: 10px;
	outline: 2px solid rgba(154, 73, 12, 0.32);
	cursor: pointer;
}

.book-container .book-title {
	font-weight: bold;
}

.book-container .book-info {
	font-style: italic;
}

.header-wrapper img {
	cursor: pointer;
}