<div class="container">
	<div class="row header-wrapper">
		<div class="col-md-10">
			<h1> {{title}} </h1>
		</div>
		<div class="col-md-2">
			<img src='../../../../../images/add.png' (click)="showAddingForm();" />
		</div>
	</div>
</div>

<div class="container" *ngIf="books.length>0">
	<table>
		<thead class="row">
			<th class="col-md-6"> Название </th>
			<th class="col-md-4"> Автор </th>
			<th class="col-md-1"> Год </th>
			<th class="col-md-1"> Страниц </th>
		</thead>
	</table>

	<div class="row book-container" *ngFor="let b of books" (click)="showBookDetails(b);">
		<div class="col-md-6 book-title"> {{b?.Title}} </div>
		<div class="col-md-4">
			<ul class="authors-list">
				<li class="book-info" *ngFor="let a of b?.Authors"> {{a.FullName}} </li>
			</ul>
			<span class="book-info" *ngIf="b?.Authors.length==0"> не указан </span>
		</div>
		<div class="col-md-1 book-info"> {{b?.Year}} </div>
		<div class="col-md-1 book-info"> {{b?.Pages}} </div>

		<div class="row message-container" *ngFor="let m of b.Messages" (click)="showDialogForm(b, m);">
			<p class="message-text"> {{m.getLastMessageText()}} </p>
			<p class="message-author"> {{m.getLastMessageAuthor()}} </p>
		</div>
	</div>
</div>
<h3 class="row bok-container" *ngIf="books.length==0"> У Вас еще нет книг </h3>

<book-adding-form *ngIf="SelectedBook != undefined && !IsDialog && IsSelected" [book]="SelectedBook" (onFormClosed)="closeAddingForm($event)" (onDeleted)="deleted($event)"></book-adding-form>
<book-adding-form *ngIf="IsCreationCalled" [book]="null" (onFormClosed)="closeAddingForm($event)"></book-adding-form>

<div *ngIf="IsDialog" id="myModal" class="modal fade show in danger" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeDialogForm()">&times;</button>
                <h4 class="modal-title">Беседа</h4>
            </div>

            <div class="modal-body">
				<book-dialog-form [book]="SelectedBook" [isPrivateTab]="true" [DialogIndex]="SelectedDialogIndex"></book-dialog-form>
            </div>

			 <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeDialogForm();"> Закрыть</button>
            </div>
        </div>
    </div>
</div>