<div class="container">
	<div class="row header-wrapper">
		<div class="col-md-10">
			<h1> {{title}} </h1>
		</div>
		<div class="col-md-2">
			<img src='../../../../../images/add.png' (click)="showAddingForm();" />
		</div>
	</div>
</div>

<div class="container">
	<table>
		<thead class="row">
			<th class="col-md-6"> Название </th>
			<th class="col-md-4"> Автор </th>
			<th class="col-md-1"> Год </th>
			<th class="col-md-1"> Страниц </th>
		</thead>

		<tbody>
			<tr class="row book-container" *ngFor="let b of books" (click)="showBookDetails(b);">
				<td class="col-md-6 book-title"> {{b?.Title}} </td>
				<td class="col-md-4">
					<ul class="authors-list">
						<li class="book-info" *ngFor="let a of b?.Authors"> {{a.FullName}} </li>
					</ul>
					<span class="book-info" *ngIf="b?.Authors.length==0"> не указан </span>
				</td>
				<td class="col-md-1 book-info"> {{b?.Year}} </td>
				<td class="col-md-1 book-info"> {{b?.Pages}} </td>
			</tr>
		</tbody>
	</table>

	<h3 class="row bok-container" *ngIf="books.length==0"> У Вас еще нет книг </h3>
</div>

<book-adding-form *ngIf="SelectedBook != undefined && IsSelected" [book]="SelectedBook" (onFormClosed)="closeAddingForm($event)" (onDeleted)="deleted($event)"></book-adding-form>
<book-adding-form *ngIf="IsCreationCalled" [book]="null" (onFormClosed)="closeAddingForm($event)"></book-adding-form>