body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.container.main-container {
	margin: 0;
	padding: 40px;
	background: url('../../../images/old-paper-stains-repeatable-min.jpg') repeat-y;
}