<!-- Account drop-down menu -->
<div class="user-container">
    <p> Логин: <span class="field-value"> {{user.Login}} </span> </p>
    <p> Email: <span class="field-value"> {{user.Email}} </span> </p>
     Адреса:
    <ul>
        <li class="field-value" *ngFor="let addr of user.Addresses"> {{addr}} </li>
    </ul>
    <button class="transfers-button" *ngIf="isMayBeTransferred" type="button" (click)="transferBook();"> Передать книгу </button>
    <button class="transfers-button" *ngIf="isMayBeConfirmed" type="button" (click)="confirmBook();"> Подтвердить передачу </button>    
</div>