.dropDownWrapper #user-dropdown {
        margin-right: 30px;
    }

.user-container {
    margin: 50px;
    padding: 30px;
    border: 2px solid #a34804;
    border-radius: 9px;
}

.user-container .field-value {
    font-style: italic;
}

 button.transfers-button {
    width: 100%;
    background: inherit;
    border-radius: 15px;
    border: 2px solid #a34804;
    opacity: 0.7;
    margin-top: 10px;
    font-size: 20px;
}

button.transfers-button:hover {
    opacity: 1;
    cursor: pointer;
}