<div class="container book-tabs-container">
	<div class="book-content">
		<div *ngFor="let c of messages; #mesInd=index" class="comment-container">
			<div class="comment-text-wrapper" *ngFor="let txt of c.Text; #ind=index">
				<div  *ngIf="mesInd==DialogIndex">
					<p class="user-profile-link" *ngIf="c.FromUserLogin[ind]!=MY_LOGIN" (click)="toggleUserData(c.FromUserLogin[ind]);"> {{c.FromUserLogin[ind]}} </p>
					<p class="user-profile-link" *ngIf="c.FromUserLogin[ind]==MY_LOGIN" (click)="toggleUserData(c.FromUserLogin[ind]);">{{MY_LOGIN}}</p>
					<p class="comment-text"> {{txt}} </p>
				</div>
			</div>
		</div>
		<div *ngIf="messages.length==0"> 
			<p> Вы еще не ведете беседу </p> 
		</div>

		<user-data *ngIf="selectedUser!=null" [user]="selectedUser" [book]="book"> User's data here </user-data>
		
		<form id="MessageForm" [ngFormModel]="_messageForm" class="comment-form">
	     	<div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !MessageControl.valid, 'has-success': MessageControl.valid }">
	            <textarea id="messageTextField" #Message type="text" ngControl="Message" placeholder="Введите здесь текст сообщения..." class="form-control"> </textarea>
	        </div>
			<button type="button" (click)="sendMessage()" [ngClass]="{'disabled-button': !MessageControl.valid}">=&gt;</button>
		</form>
	</div>
</div>