.info-container {
    display: table;
    margin-right: 0;
    height:90px;
    padding-top:2px;
    text-wrap:none;
    width: 100%;
    background:  url(../../../images/library-header.jpg) repeat center center;
    cursor: pointer;
}

    .info-container .clickable-to-main {
        min-height: 150px;
    }

    .info-container .info-statistics-wrapper {
         max-width: 330px;
         font-family: "Times New Roman"
     }
     
    .statistics-text {
        width: 100%;
       /* font-family: 'GothicRusMedium', Tahoma;*/
        font-size: 28px;
        line-height: 8px;
        text-align: right;
        padding: 22px 16px;
        margin-top: 10px;
        color: white;
    }
    
    /* Account */
#info-account{
    text-wrap:none;
    float:right;
    vertical-align:central;
    padding-top: 14px;
}

    #info-account > * {
        float: right !important;
    }

#img-user {
    opacity: 0.8;
    cursor: pointer;
    text-align:center;
    font-family: 'Arial';
}
#img-user img{
   width: 100%;
   height: 64px;
}
    
#img-user:hover{
    opacity: 1;
}

    .dropDownWrapper #user-dropdown {
        margin-right: 30px;
    }

    .dropDownWrapper #login-dropdown {
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }

        #login-dropdown button {
            background: inherit;
            border-radius: 15px;
            border: 2px solid #a34804;
            opacity: 0.7;
            margin-top: 10px;
            font-size: 20px;
        }
        #login-dropdown button:hover {
            opacity: 1;
            cursor: pointer;
        }

.show {
    visibility: visible !important;
}

form div.form-field-wrapper {
    display: block;
    margin-bottom: 20px;
}

form label.form-label {
    display: block;
    float: left;
    margin: 5px;
}

form input {
    width: 90%;
    margin: 10px 5%;
}

form button {
    display: inline;
    width: 40%;
    margin: 10px 4%;
}