<div class="container">
	<div class="row">
		<h1>
		  {{title}}
		</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4 book-wrapper" *ngFor="let b of books">
					<book-item 
						[book]="b"
						(click)="showBookDetails(b)"> book </book-item>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<h2 class="search-header"> Поиск книг </h2>
			
			<form name="search">
				<input *ngFor="let auth of search.Authors" type="text" value="{{auth}}" />
				<input type="text" placeholder="Автор" />

				<button class="btn-primary" value="Искать!">Искать!</button>
			</form>

			<ul class="categories-list">
				<li> История </li>
				<li> Философия </li>
			</ul>
		</div>
	</div>
</div>


<div *ngIf="SelectedBook != undefined"
     class="modal fade show in danger" id="book-details">
    <div class="modal-dialog" role="dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	            <button type="button" class="close navbar-brand" data-dismiss="modal" (click)="closeForm()">&times;</button>
				<h3> {{SelectedBook?.Title}} </h3>
			</div>

			<div class="modal-body" *ngIf="IsSelected && !IsDialog">	  	
	  		    <book-details-form [book]="SelectedBook"> Здесь будут отображаться детали книги. Пожалуйста, подождите </book-details-form>
	  		</div>
			<div class="modal-body" *ngIf="!IsSelected && IsDialog">	  	
	  		    <book-dialog-form [book]="SelectedBook"> Здесь будут отображаться детали беседы. Пожалуйста, подождите </book-dialog-form>
	  		</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" (click)="showDialogForm();" *ngIf="!IsDialog && SelectedBook.User!=MY_LOGIN">Беседовать</button>
	            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeForm();"> Закрыть</button>
	        </div>
        </div>
    </div>
</div>