<div class="container book-container">
	<p class="book-header"> <a href='{{DOMAIN}}/book/{{book?.Id}}'> {{book?.Title}} </a> </p>

	<div class="book-content">
		<i *ngFor="let author of book?.Authors"> | {{author?.FullName}} </i>
		<p class="book-description"> {{ShortDescription}} </p>
		<p> Принадлежит: <a href='{{DOMAIN}}/user/{{book?.User}}'> {{book?.User}} </a> </p>

		<div class="book-footer">
			<div class="book-year"> {{book?.Year}} </div>
			<div class="book-pages"> {{book?.Pages}} </div>
		</div>
	</div>
</div>